.adminSkillContainer{
    margin-top: 60px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.adminSkillHeader{
    height: 70px;
    background-color: #052659;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
}

.adminSkillName{
    margin-left: 30px;
    margin-bottom: 0px;
}

.adminSkillSubmit{
    margin-right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    border: 3px solid #24FF00;
    background-color: transparent;
    color: #24FF00;
    font-size: 32px;
    cursor: pointer;
}

.adminItemDelete{
    height: 50px;
    width: 50px;
    border-radius: 20px;
    border: 3px solid #FF0000;
    background-color: transparent;
    color: #FF0000;
    font-size: 24px;
    cursor: pointer;
}

.adminSkillInput{
    background-color: transparent;
    border: 4px solid #052659;
    border-radius: 30px;
    height: 70px;
    text-indent: 25px;
    font-size: 32px;
    width: 28vw;
    color: #C1E8FF;
}

.adminSkillDescInput{
    background-color: transparent;
    border: 4px solid #052659;
    border-radius: 30px;
    height: 70px;
    text-indent: 25px;
    font-size: 32px;
    width: 60vw;
    color: #C1E8FF;
    margin-left: 30px;
}

.adminSkillDescInput::placeholder {
    color: #052659; 
    font-size: 32px;
}

.adminSkillInput::placeholder {
    color: #052659; 
    font-size: 32px;
}

.adminItemHeader{
    margin: 25px 25px 0px 25px;
    display: flex;
    justify-content: space-between;
}

.adminSkillInputs{
    margin-top: 20px;
    display: flex;
}

.adminSkillItem{
    margin-top: 30px;
    background-color: #052659;
    border-radius: 30px;
}

.adminItemInfo{
    font-size: 32px;
    margin-left: 25px;
    margin-right: 25px;
}

.adminItemDesc{
    margin: 0px 25px 25px 25px;
}