.languageContainer {
    margin-top: 30px;
    margin-left: 25vw;
    margin-right: 25vw;
}

.line {
    height: 5px;
    background-color: #052659;
}

.languageList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.languageItem {
    flex-grow: 1;
    color: #C1E8FF;
    font-size: 32px;
    margin-right: 155px;
    width: 15vw;
    white-space: nowrap;
}